.spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.spinner__svg {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
}

.spinner__circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
}

/* Sizes */
.spinner--sm {
    width: 1rem;
    height: 1rem;
}

.spinner--md {
    width: 2rem;
    height: 2rem;
}

.spinner--lg {
    width: 3.5rem;
    height: 3.5rem;
}

/* Colors */
.spinner--color-accent {
    color: var(--color-accent);
}

.spinner--color-ink {
    color: var(--color-ink);
}

.spinner--color-paper {
    color: var(--color-paper);
}

.spinner--color-logo {
    color: var(--color-logo);
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}