.paperBackground {
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-border);
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: auto;
}

.paperBackground::before {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0.05;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: 200px 200px;
  background-repeat: repeat;
}

.paperBackground>* {
  position: relative;
  z-index: 2;
}